# ======================
# DATASETS (ignorar só os ficheiros grandes)
# ======================
data/*.csv
data/*.txt
data/*.yml

# ======================
# PYTHON
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# VENV
# ======================
venv/

# ======================
# JUPYTER
# ======================
.ipynb_checkpoints/

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db

# ======================
# OPTIONAL
# ======================
*.log
*.tmp